html {
    /*font-family: 'helvetica neue';*/
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    margin: 0;
}

body {
    margin: 0;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.panel {
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.panel1 {
    background-image:url("/javascript/javascript30/imgGallery/img/boat.png");
}
.panel2 {
    background-image:url("/javascript/javascript30/imgGallery/img/eclipse.jpg");
}
.panel3 {
    background-image:url("/javascript/javascript30/imgGallery/img/map-of-the-world.jpg");
}
.panel4 {
    background-image:url("/javascript/javascript30/imgGallery/img/sunflowers.jpg");
}

.panel > * {
    width: 100%;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    font-weight: bold;
}
.panel > *:first-child {
    transform: translateY(-100%);
}
.panel.open-active> *:first-child {
    transform: translateY(0);
}
.panel > *:last-child {
    transform: translateY(100%);
}
.panel.open-active> *:last-child {
    transform: translateY(0);
}

.panel.open {
    flex: 5;
    font-size: 40px;
}

.panel p {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 40px;
}

.panel p:nth-child(2) {
    font-size: 60px;
}